#baner{
    background-color: #0B873D;
    color: white;
    font-size: 150%;
    text-align: center;      
}
#lewy{
    background-color: #8CE1AE;
    width: 40%;
    height: 600px;
    float: left;
    list-style: none;
}
#srodkowy{
    background-color: #5CCB89;
    width: 40%;
    height: 600px;
    float: left;
}
#prawy{
    background-color: #1DA956;
    width: 20%;
    height: 600px;
    float: left;
}
#prawy li{
    list-style: url(auto.png);
    margin-left:20px;
    margin-right: 20px;
}
a:link{
     color:brown;
}
a:visited{
     color:brown;
}
a:hover{
     color:red;
}
a:active {
      color:red;
}
